body{
    background: black;
    color: white;
    font-family:'segoe UI', Tahome, Verdana, sans-serif;
    min-height: 100vh;
    padding: 20px
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;

}
button {
    background-color: #5b07bb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #450592;
}
a{
    color: white;
    text-decoration: none;
}
img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 3px solid rgb(56, 240, 19);
    margin-top: 20px;
    margin-bottom: 10px; 
}
.center{
    text-align: center;
}
h1{
    color: #23e42d;
}
footer img{
    width: 40px;
    height: 40px;   
    margin-bottom: 5px; 
    border-radius: 30%;
    border-color: transparent;
}
footer{
    display: flex;
    justify-content: center;
}
footer a{
    margin: 20px;
    text-decoration: none;
    text-align:center;
}
footer p{
    margin-top: 2px;

}
.container{
    padding: 0px 100px;
}
nav a:hover{
    color: #23e42d;
}